body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #000;
  color: white;
  padding: 20px;
}

nav {
  background: #ff9933;
  padding: 10px;
}

nav a {
  margin: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 30px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.box {
  background: #eee;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 150px;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  background: green;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

footer {
  background: #000;
  color: white;
  padding: 10px;
}
